/* Container Styling */
.contact-details-container {
  font-family: Arial, sans-serif;
  margin: 20vh auto 0;
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

/* Header Section */
.contact-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.contact-info h1 {
  font-size: 1.8rem;
  margin-left: 15px;
}

.contact-actions {
  display: flex;
  gap: 10px;
}

.delete-button {
  background-color: #808274;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #425134;
}

.delete-button img {
  width: 1.5rem;
}

/* Action Buttons Row */
.contact-actions-row {
  display: flex;
  gap: 15px;
  margin: 20px 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-actions-row button {
  background-color: #c79a95;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.contact-actions-row button:hover {
  background-color: #a07d79;
}

/* Contact Details Section */
.contact-details-section {
  background-color: #e8e6dc;
  padding: 20px;
  border-radius: 10px;
}

.label-section {
  margin-bottom: 15px;
}

.label-section button {
  background-color: transparent;
  color: #007bff;
  border: none;
  cursor: pointer;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.details h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #8f8f8f;
}

.details p {
  margin: 0;
  font-weight: bold;
  color: #425134;
}

.no-contact-selected {
  padding-top: 20vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .contact-header {
    flex-direction: column;
  }

  .contact-details-container {
    margin-top: 10vh;
  }
}
