body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #ecf0f1;
  color: #34495e;
  overflow-x: hidden;
}

h1 {
  font-size: 2rem;
  color: #2c3e50;
  margin: 20px 0;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
  overflow: hidden;
}

th,
td {
  display: flex;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 1rem;
}

th {
  background: #2c3e50;
  color: #ffffff;
  text-transform: uppercase;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
