.contact-list {
  margin: 20px auto;
  width: 95%;
  max-width: 1200px;
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-heading-container h1 {
  color: #0e0e0f;
}

.contact-row {
  transition: background 0.2s ease-in-out;
  cursor: pointer;
}

.contact-row:hover {
  background: #a7cdee;
}

.desktop-only {
  display: none;
}

@media (min-width: 768px) {
  .desktop-only {
    display: table-cell;
  }
}
